.header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    background-color: grey;
    color: white;
    min-height: calc(100vh - 50px);
    box-sizing: border-box;
}

.header-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
    height: auto;
}

.team-logo {
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.names {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    min-height: 1.5em;
    color: #dbdbdb;
    transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;
    opacity: 0;
    transform: translateY(20px);
}

.names.visible {
    opacity: 1;
    transform: translateY(0);
}

.names.exit {
    opacity: 0;
    transform: translateY(-20px);
}

.names.no-transition {
    transition: none !important;
}

@media (max-width: 500px) {
    .header-section h1 {
        font-size: 36px;
    }
}

.about-us {
    padding: 60px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.about-us h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #333;
}

.about-us p {
    font-size: 19px;
    line-height: 1.8;
    color: #666;
}

.skills {
    margin-top: 40px;
    padding: 60px 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f8f9fa;
}

.skills h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    font-size: 19px;
    padding: 15px 0;
    color: #555;
    border-bottom: 1px solid #ddd;
}


.skills strong {
    color: #2d2d2d;
    font-size: 21px;
}

@media (max-width: 500px) {
    .hero h1 {
        font-size: 36px;
    }

    .team-logo {
        max-width: 200px;
    }

    .about-us h2, .skills h2 {
        font-size: 32px;
    }

    .about-us p, .skills li {
        font-size: 16px;
    }
}