.navbar {
    background-color: #333;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}
