.team {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.members {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 23%;
    text-align: center;
}

.members img {
    width: 100%;
    height: 300px;   
    object-fit: cover;
    display: block;
    border-radius: 8px;   
}

@media (max-width: 900px) {
    .members {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 48%;
    }
}

@media (max-width: 500px) {
    .members {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
    }
    
    .members img {
        max-width: 400px;
        margin: 0 auto;
    }
}

#header, #subheader {
    text-align: center;
    margin: 5px;
}